{% extends "/./base.html" %}
{% block content %}

<div class="container">
<form action="" method="POST">
    <div class="row">
        <div class="col-sm-10">
            <h5>{{ titulo }}</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <h2>{{ colaborador.nome_civil }}</h2>
        </div>
        <div class="col-sm-1">
            <a class="btn btn-outline-dark"
            href="/cadastro_clb/{{ colaborador.id }}" role="button">Voltar</a>
        </div>
        <div class="col-sm-1">
            <button type="submit" class="btn btn-outline-success" id="salvar"
                name="Salvar" value="">Salvar</button>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-sm-6">
            <small><em><strong>Cadastro efetuado em:</strong> {{ data_criacao }}</em></small>
        </div>
        <div class="col-sm-5">
            <small><em><strong>Atualizado em:</strong> {{ data_atualizacao }}</em></small>
        </div>
    </div>

    <br>

    <small><em>*É obrigatório o preenchimento em campos com *. No campo CPF utilize apenas números.</em></small>

    <br>
    <br>
    <div class="row">
        <div class="col-sm-1">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
            value="{{ colaborador.id }}" disabled/>
        </div>
        <div class="col-sm-2">
            <label for="status">STATUS</label>
            <input type="text" class="form-control" status="status"
                name="status" value="{{ colaborador.status }}" disabled/>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <label for="id">*Nome Civil</label>
            <input type="text" class="form-control"
                id="nome_civil" name="nome_civil"
                placeholder="Informe o nome civil"
                value="{{ colaborador.nome_civil }}" required/>
        </div>
        <div class="col-sm-3">
            <label for="cpf">*CPF (apenas números)</label>
            <input type="text" class="form-control" id="cpf" name="cpf"
                value="{{ colaborador.cpf }}" disabled/>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <label for="nome_social">Nome Social</label>
            <input type="text" class="form-control"
                id="nome_social" name="nome_social"
                placeholder="Informe o nome social"
                value="{{ colaborador.nome_social }}"/>
        </div>
        <div class="col-sm-3">
            <label for="data_nascimento">*Data de Nascimento</label>
            <input class="form-control" id="data_nascimento" type="date"
                name="data_nascimento" min="1921-01-01" max="2004-11-01"
                value="{{ colaborador.data_nascimento }}" required/>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-5">
            <label for="email">*E-mail</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <input type="email" class="form-control" id="email"
                name="email" placeholder="Informe o e-mail"
                value="{{ colaborador.email }}" required/>
        </div>
        <div class="col-sm-2">
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-sm-3">
            <label for="tipo_clb">*Tipo</label>
        </div>
        <div class="col-sm-5">
            <label for="lotacao">*Lotação</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <select class="form-select" name="tipo_clb" id="tipo_clb" required>
                {% if current_user.tipo_clb == 'GERENTE' %}
                <option value="{{ colaborador.tipo_clb }}"
                selected>{{ colaborador.tipo_clb }}</option>
                {% else %}
                <option value="COLABORADOR(A)">COLABORADOR(A)</option>
                <option value="GERENTE">GERENTE</option>
                {% endif %}
            </select>
        </div>
        <div class="col-sm-5">
            <select class="form-select" name="lotacao" id="lotacao" required>
                {% if current_user.tipo_clb == 'GERENTE' %}
                <option value="{{ current_user.lotacao }}" selected
                >{{ campos_cad['entidades'][current_user.lotacao] }}
                </option>
                {% else %}
                {% if colaborador.lotacao %}
                <option value="{{ colaborador.lotacao }}"
                selected>#{{ campos_cad['entidades'][colaborador.lotacao] }}
                </option>
                {% for lotacao in campos_cad['entidades'] %}
                {% if lotacao not in colaborador.lotacao %}
                {% if lotacao != '5' %}
                <option value="{{ lotacao }}">
                {{ campos_cad['entidades'][lotacao] }}
                </option>
                {% endif %}
                {% endif %}
                {% endfor %}
                {% else %}
                <option value="" selected></option>
                {% for lotacao in campos_cad['entidades'] %}
                {% if lotacao != '5' %}
                <option value="{{ lotacao }}">
                {{ campos_cad['entidades'][lotacao] }}
                </option>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endif %}
            </select>
        </div>
    </div>
</form>
<br>
<br>
<br>

</div>
{% endblock %}
