{% extends "base.html" %}
{% block content %}

<div class="container">
<br>

<h2>CadPSR</h2>
<h6><em>PI1 - Grupo 6 - Polo SBC - Univesp</em></h6>

<br>
<br>

<div class="row gx-3 gy-2 align-items-center">
    <div class="col-md-4">
        <img src="/static/imagens/imagem_1_250px.png" class="rounded float-start" alt="Imagem com mãos e planeta terra">
    </div>
    <div class="col-sm-6">
        <h3>Integração de Cadastro de Pessoas em Situação de Rua</h3>
        <h6><em>CadPSR - {{ cadpsr_versao }}</em></h6>
        <br>
        <p>Sistema Web desenvolvido conforme tema norteador da disciplina de Projeto Integrador 1.</p>
        <p>Solução criada para servir de prova de conceito referente à integração do cadastro de pessoas em situação de rua via aplicação web.</p>
    </div>
</div>
<br>
<br>
<br>

</div>

{% endblock %}
