{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-10">
            <h3>Pessoas em situação de rua</h3>
        </div>
        <div class="col-sm-2">

            <a class="btn btn-outline-primary" href="/novo_psr" role="button">Novo Cadastro</a>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-sm-9">
            <small>
                <em><strong>Cadastradas nesta entidade:</strong> {{ psr_entidade }}</em>
            </small>
        </div>
        <div class="col-sm-3">
            <small>
                <em><strong>Cadastradas no CadPSR:</strong> {{ psr_total }}</em>
            </small>
        </div>
    </div>

    <br>

    <h4><em>Pesquisa de Pessoas</em></h4>

    <br>
        <div class="row">
            <div class="col-sm-2">
                FILTRO
            </div>
            <div class="col-sm-2">
                DADO
            </div>
        </div>

        <form method="POST">
        <div class="row">
                <div class="col-sm-2">
                    <select class="form-select" name="campo" id="campo">
                        <option value="ID">ID</option>
                        <option value="NOME" selected>NOME</option>
                        <option value="CPF">CPF</option>
                    </select>
                </div>

                <div class="col-sm-5">
                    <input type="text" class="form-control" id="dado"
                    name="dado"
                    placeholder="Informe o dado a ser pesquisado" autofocus/>
                </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-outline-dark">Pesquisar</button>
                </div>
        </div>
        </form>

        <br>

        {% if current_user.tipo_clb == 'GESTOR' %}
        <small>
            <em>
                <strong>PALAVRAS-CHAVE</strong> (com filtro NOME selecionado)<br>
                <strong>.t</strong> para todas PSR cadastradas no CadPSR;<br>
                <strong> .e1</strong>, <strong>.e2</strong>, <strong>.e3</strong> ou <strong>.e4</strong> para PSR cadastras em Entidades específicas;<br>

            </em>
        </small>
        {% else %}
        <small>
            <em>
                <strong>PALAVRAS-CHAVE</strong> (com filtro NOME selecionado)<br>
                <strong>.t</strong> para todas PSR cadastradas em sua Entidade;
            </em>
        </small>
        {% endif %}

    <br>
    <br>

    <div>
    {% if busca == True %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 8%">#</th>
                <th style="width: 5%">STATUS</th>
                <th style="width: 9%">ID</th>
                <th style="width: 30%">NOME</th>
                <th style="width: 15%">DATA NASC.</th>
                <th style="width: 30%">REFERÊNCIA</th>
                <th style="width: 3%"></th>
            </tr>
        </thead>
        <tbody>
            {% if pessoa %}
            <tr>
            <th scope="row">1</th>
                <form class="" method="POST">
                    <td>{{ pessoa.status }}</td>
                    <td>{{ pessoa.id}}</td>
                    <td>{{ pessoa.nome_civil}}</td>
                    <td>{{ pessoa.data_nascimento[8:] }}/{{ pessoa.data_nascimento[5:7] }}/{{ pessoa.data_nascimento[0:4] }}</td>
                    <td>{{ campos_cad['entidades'][pessoa.entidade_referencia] }}</td>
                    <td>
                        <a class="btn btn-outline-success" href="/cadastro_psr/{{ pessoa.id }}"
                            role="button">Visualizar</a>
                    </td>
                </form>
            </tr>
            {% else %}
            {% if dado == '.t' %}
            {% for pessoa in pessoas %}
            <tr>
            <th scope="row">{{ loop.index }}</th>
                <form class="" method="POST">
                    <td>{{ pessoa.status }}</td>
                    <td>{{ pessoa.id}}</td>
                    <td>{{ pessoa.nome_civil}}</td>
                    <td>{{ pessoa.data_nascimento[8:] }}/{{ pessoa.data_nascimento[5:7] }}/{{ pessoa.data_nascimento[0:4] }}</td>
                    <td>{{ campos_cad['entidades'][pessoa.entidade_referencia] }}</td>
                    <td>
                        <a class="btn btn-outline-success" href="/cadastro_psr/{{ pessoa.id }}"
                            role="button">Visualizar</a>
                    </td>
                </form>
            </tr>
            {% endfor %}
            {% else %}
            {% for pessoa in pessoas %}
            <tr>
            <th scope="row">{{ loop.index }}</th>
                <form class="" method="POST">
                    <td>{{ pessoa.status }}</td>
                    <td>{{ pessoa.id}}</td>
                    <td>{{ pessoa.nome_civil}}</td>
                    <td>{{ nascimento }}</td>
                    <td>{{ campos_cad['entidades'][pessoa.entidade_referencia] }}</td>
                    <td>
                        <a class="btn btn-outline-success" href="/cadastro_psr/{{ pessoa.id }}"
                            role="button">Visualizar</a>
                    </td>
                </form>
            </tr>
            {% endfor %}
            {% endif %}
            {% endif %}
    </tbody>
    </table>
    {% endif %}
</div>
<br><br><br><br><br><br><br>
{% endblock %}
